.image1{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.image1:hover{
    transform: scale(1.4);
    border-style: double;
    border-color: aliceblue;
    border-radius: 0;
    transition: all 0.5s ease-in-out;

}
a:hover{
    font-size: larger;
    color: azure !important;
    text-transform: uppercase;
    
}
body{
    background-image: url('./images/black-geometric-memphis-social-banner_53876-116843.avif');
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}
.home{
    margin-top:90px;
    padding-left: 20%;
    padding-top: 20%;
    margin-bottom: 20%;

}
h1{
    font-size: clamp(30px,8vw,100px);
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    
}
h1:hover{
    text-transform: capitalize;
}
.about{
    background-image: url('./images/black-geometric-memphis-social-banner_53876-116843.avif');
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;

}
.image2{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin-top: 15%;
    margin-left: 10%;
    
}
.image2:hover{
    transform: scale(1.4);
    border-style: double;
    border-color: aliceblue;
    box-shadow: 5px 2px rgb(151, 121, 121);

}
p{
    color: aliceblue;
}
.avatarabout{
    display: flex;
    flex-direction:column;
    width: 20%;
    margin-left: 5%;
    
}

.paragraph{
    padding-top: 4%;
    
}
.avatarskills{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-left: 0;
}
.skills{
    width: 100%;
    max-width: 600px;
    padding:0 20px;
    padding-left: 0;
    margin-left: -50%;
    margin-top: 10%;
}
.skill-name{
    text-transform: uppercase;
    margin: 20px 0;
    
}
.skill-name:hover{
    filter: drop-shadow(2px 2px 3px white);
}
.skill-bar{
    height: 14px;
    background: #282828;
    border-radius: 3px;
}
.skill-per{
    height: 14px;
    background: #d13639;
    border-radius: 3px;
    position: relative;
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
}
.aboutskills{
    display: flex;
    flex-direction: row;

    
}
@media (max-width: 450px){
    .aboutskills{
        display: flex;
        flex-direction: column;
    }
    .avatarskills{
        margin-left: 200px;
    }
    .sumasocial{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: -20%;
    }
    .suma{
        margin-top: 10%;
        padding-top: 30%;
    }
    
}
.portfolio{
    background-image: url('./images/black-geometric-memphis-social-banner_53876-116843.avif');
    background-repeat:no-repeat;
    background-size:cover ;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;


}
.image3{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin-top: 15%;
    margin-left: 10%;
    
}
.image3:hover{
    transform: scale(1.4);
    border-style: double;
    border-color: aliceblue;
    box-shadow: 5px 2px rgb(151, 121, 121);

}
.socialmedia{
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    margin-top: -20%;
    margin-bottom: 0%;
    padding-top: 20%;

}
.linkden{
    width: 40px;
    height: 40px;
    margin-left: 1%;
}
.github{
    width: 40px;
    height: 40px;
    margin-left: 1%;
}
.telegram{
    width: 40px;
    height: 40px;
    margin-left: 1%;
}
.email{
    width: 40px;
    height: 40px;
    margin-left: 1%;
}
.gmail{
    width: 40px;
    height: 40px;
    margin-left: 1%;
}
.sumasocial{
    display: flex;
    flex-direction: column;

}
.suma{
    margin-left: 50%;
    margin-top: -20%;
    color: aqua;
}

.linkden:hover{
    filter: drop-shadow(2px 2px 3px white);
}
.telegram:hover{
    filter: drop-shadow(2px 2px 3px white);
}
.github:hover{
    filter: drop-shadow(2px 2px 3px white);
}
.email:hover{
    filter: drop-shadow(2px 2px 3px white);
}
.gmail:hover{
    filter: drop-shadow(2px 2px 3px white);
}
.contact{
    margin-left: 7%;
    color: aqua;
    
}
.contact:hover{
    filter: drop-shadow(2px 2px 3px white);
}
.mailid:hover{
    filter: drop-shadow(2px 2px 3px white);
}
.contactme{
    margin-top: 20%;
    margin-left: 25%;
    margin-bottom: 0;
    padding-bottom: 0;
}
.linkden1{
    width: 40px;
    height: 40px;
}
.linkden1:hover{
    filter: drop-shadow(2px 2px 3px white);
}
.linkdenid{
    margin-top: 0;
    margin-left: 25%;
    margin-bottom: 20%;
    padding-bottom: 20%;
    display: flex;
    flex-direction: row;
}
.linkdenac{
    padding-left: 2%;
}
.linkdenac:hover{
    filter: drop-shadow(2px 2px 3px white);
}

